<% @resident_experts.each do |re| -%>
<div class="pics-resident-experts-item"><%= link_to medium_image(re), expanded_user_path(re) %><h6><%=re.name%></h6><p class="highlight"><%=re.expertise_subcategory.name%></p></div>
<% end -%>