<%= title "Resident experts" %>
<% @experts.each do |e| -%>
  <div class="homepage-small-user user-rollover"><%= render :partial => "users/resident_expert_small", :locals => {:user => e }  %></div>
<% end -%>