<%= title "Resident Expert Articles" %>
<h3>Sharing their knowledge with you!</h3>
<p>Meet Be Amazing's Resident Experts; professionals with heaps of knowledge, experience and enthusiasm writing articles to provide you with a wide range of information about health, well being and development. These are the top contributors under a range of categories, visit their profile page, read their articles and contact them for more information!</p>
<% @subcategories.each do |s| -%>
	<% unless @experts_for_subcategory[s.id].nil? -%>
	<h3><%= s.name%></h3>
	<% @experts_for_subcategory[s.id].each do |e|-%>
  <div class="homepage-small-user user-rollover"><%= render :partial => "resident_experts/expert_small", :locals => {:user => e, :subcat => s }  %></div>
	<% end -%>
	<div class="cleaner"></div>
	<% end -%>
<% end -%>