<%= title "Full members" %>
<p>Choosing the right practitioner to meet your needs is important, something Be Amazing is making easier. Our full members have put their profiles online so that you can meet them online - So check them out; learn what they do, about their approach and what their clients say.</p>
<% @members.each do |e| -%>
  <div class="homepage-small-user user-rollover"><%= render :partial => "users/user_small", :locals => {:user => e }  %></div>
<% end -%>