<%= title "NZ Health, Well-being &amp; Development Professionals" %>
<p>Choosing the right practitioner to meet your needs is important, something Be Amazing is making easier. Our members share their profiles here on Be Amazing so that you can meet them online - Check them out, learn more about what they offer and what their clients say.</p>
<% @members.each do |e| -%>
  <div class="homepage-small-user user-rollover"><%= render :partial => "users/user_small", :locals => {:user => e }  %></div>
<% end -%>