<% javascript "resident-experts" %>
<%= title "Full members" %>
<% @members.each do |e| -%>
  <div class="homepage-small-user"><%= render :partial => "users/user_small", :locals => {:user => e }  %></div>
<% end -%>