Dear <%= @user.first_name%>,<br/>
<br/>
<strong>CONGRATULATIONS on adding your first article!!!</strong><br/>
<br/>
It's a great way to profile your expertise and the more articles you add the better profile you'll gain as a Resident Expert on the site.<br/>
<br/>
So what to do now? Here are a couple of tips:<br/>
<ul>
<li>Check out our Facebook page, you'll see that we've plugged your article (if it's not there now, it will be soon). <strong>Hit the like button too!</strong></li>
<li>See your published article on the site and notice the <strong>Facebook LIKE button</strong> and the <strong>TWITTER button</strong> - click them both to promote what you've written to your own networks</li>
</ul>
DID YOU KNOW?<br/>
<br/>
One of the key ways to get your articles read, is to give a good title, here are some examples:<br/>
<ul>
<li>Ten ways to ....</li>
<li>How to achieve X by doing Y</li>
<li>Everything you need to know about ....</li>
<li>How to succeed at ....</li>
<li>How to turn A into B</li>
<li>Avoid the traps of ...... and get more ....</li>
<li>Five big mistakes of ....</li>
<li>Five ways to ...</li>
<li>FAQ's about ...</li>
<li>How to attract more ....</li>
</ul>
Value add articles are about giving clear steps to achieving something and such articles show you know your stuff.<br/>
<br/>
DO YOU HAVE A BLOG OF YOUR OWN?<br/>
<br/>
Make sure you put your articles on both your own blog and ours, this will give you double exposure! PLUS, many Coaches on our site report their articles getting more viewings with us, than on their own blog.<br/>
<br/>
Very best,<br/>
<%= render :partial => "signature"  %>