Dear <%= @user.first_name %>,<br/>
<br/>
Just a quick note to say your paid features on <a href="http://<%= APP_CONFIG[:site_host][@user.country.country_code]%>"><%= APP_CONFIG[:site_host][@user.country.country_code].capitalize%></a> have expired, but don't worry, your FREE profile including your web and email links still remain live on the site. You can add paid features (such as a photo, highlighted listing....) anytime you like, just log in and click the link 'Add features'.<br/>
<br/>
<br/>
<%= render :partial => "signature"  %>