Dear <%= @user.first_name%>,
<br/>
<p>Thanks for signing-up for a FREE profile on <%= @site_name.capitalize%>.</p>

<p>The process is nearly complete, you now just need to create your profile and publish for everyone to find you. Once you're published we'll ...</p>
<ul>
<li>Promote you via out social media network of 1000's</li>
<li>Feature your profile in our next newsletter</li>
<li>Send you a free copy of 'Seven strategies to help your coaching business FLY!'</li>
</ul>

<p>The site has already created new business for many other coaches, speakers and trainers, and we're certain it can do the same for you. Here are our top tips ....</p>
<ul>
<li>Create a great profile with lots of information - FREE</li>
<li>Add articles, as many as you like - FREE</li>
<li>Add a photo and get three times as many visits to your profile - Optional, just $30+gst p.a.</li>
</ul>
<p><%= link_to "Click here to log-in", @login_link %> and get started</p>
<br/>
<%= render :partial => "signature"  %>