Dear <%= @user.first_name%>,<br/>
<br/>
Just a quick tip from the team at Be Amazing to help you make the most of you Trial Session and/or Gift Voucher facility on the site. We recommend changing your offers every now and again to offer something fresh to New Zealanders using the site. And when you do this, your new offer/voucher will appear in the following newsletter to give you more visibility.<br/>
<br/>
To do this, just log in, delete the offer/voucher you currently have, then create a new one following the instructions online.<br/>
<br/>
Here are some ideas for Trial Sessions and Gift Vouchers:<br/>
<ul>
<li>FREE Trial Session</li>
<li>Two for the price of one</li>
<li>50% Discount of your first booking</li>
<li>Concession cards</li>
<li>The perfect gift for Mother's day</li>
<li>Bring a friend for FREE</li>
<li>Early bird bookings get 10% off</li>
<li>FREE book with every course</li>
</ul>
We're sure you can think of more!<br/>
<br/>
Very best,<br/>
The BeAmazing Team<br/>