Dear <%= @user.first_name%>,<br/>
<br/>
Just a quick tip from the team at ZINGABEAM.COM  (Be Amazing!) to help you make the most of your Trial Sessions and Special Offers. We recommend changing your offers every now and again to offer something fresh to people using the site.<br/>
<br/>
To do this just log in, delete the offer(s) you currently have, then create a new one following the instructions online.<br/>
<br/>
Here are some ideas for Trial Sessions and Gift Vouchers:<br/>
<ul>
<li>FREE Trial Session</li>
<li>Two for the price of one</li>
<li>50% Discount of your first booking</li>
<li>Concession cards</li>
<li>The perfect gift for Mother's day</li>
<li>Bring a friend for FREE</li>
<li>Early bird bookings get 10% off</li>
<li>FREE book with every course</li>
</ul>
We're sure you can think of more!<br/>
<br/>
Very best,<br/>
The Team @ Zingabeam<br/>