<%= render :partial => "search/about_nav", :locals => {:selected => "about" }  %>
<%= title "About beamazing.co.nz" %>

<p>Think of beamazing.co.nz  as an online network of health, wellbeing and development professionals, all in one place making it easy to choose the right services and providers to suit your needs. Plus you can find a whole range of articles and information on the site as well as courses and events.</p>
<h4>Our values....</h4>
<h3>be well!</h3>
<p>Wellbeing is the platform of our potential. No matter how talented, when our wellbeing is poor we're unable to function and aspire to the things we know we're capable of. However, the more vibrant our wellbeing, the more fully we can live life, achieve our goals and make a difference to others.</p>
<h3>be bold!</h3>
<p>With wellness we can achieve greatness - conceive, believe, achieve - think possibilities, dare to succeed and live your dreams.</p>
<h3>be you!</h3>
<p>Place your energy and focus on the things that are important, back yourself with real action, make the most of your talents and inspire others as you live your values and passions.</p>