<%= render :partial => "search/about_nav", :locals => {:selected => "about" }  %>
<%= title "About beamazing.co.nz" %>

<p>Think of beamazing.co.nz as an online network of Coaches, Speakers and Courses all in one place making it easy to choose the right services and providers to suit your needs. PLUS, you'll find an extensive range of articles and tips to help you shape your life and achieve your goals.</p>
<h4><strong>Our values....</strong></h4>
<h3>be well!</h3>
<p>Wellness is the platform of our potential. No matter how talented we are, when our wellness is poor we're unable to function and aspire to the things we know we're capable of. However, the more vibrant our wellbeing, the more fully we can live life, achieve our goals and make a difference to others.</p>
<h3>be bold!</h3>
<p>With wellness we can achieve greatness - conceive, believe, achieve - think possibilities, dare to succeed and live your dreams.</p>
<h3>be you!</h3>
<p>Place your energy and focus on the things that are important, back yourself with real action, make the most of your talents and inspire others as you live your values and passions.</p>
