<%= title "Welcome to Zingabeam!" %>

<h4>Just look at that ... a quick <em>jiggle</em> of letters and <strong>'Zingabeam'</strong> spells out <strong>'Be Amazing'</strong> ... and that's exactly what you can expect from the <%= @number_users %> coaches who've joined together to write <%= @number_articles %> articles sharing their expertise, ideas and passion to help you be well, be bold and <strong>be amazing!</strong></h4>
<h4>Think of us in two ways...</h4>
<p>One: A huge gathering of articles under a range of topics to help you develop your ZING and shape your life, and...</p>
<p>Two: The easiest possible way to find a coach to help you get focused, add rocket fuel and achieve your BIG HAIRY AUDACIOUS goals!</p>
<h4>So what now?</h4>
<ul>
<li>Hang out and browse (use the navigation bar at the top)</li>
<li>Come back with your friends,</li>
<li><a href="http://feeds.feedburner.com/BeAmazing">Subscribe by RSS to our blog</a></li>
<li><%= link_to "Get a FREE Goal Setting Tool - Subscribe to our newsletter", signup_newsletter_url%></li>
<li><a href="https://www.facebook.com/pages/BeAmazing-Zingabeam/361000885623" target="_blank">Join our facebook page</a></li>
<li><a href="https://twitter.com/#!/Beamazingltd" target="_blank">Join us on twitter</a></li>
<li>ARE YOU A COACH TOO? <a href="../../signup_intro">Add your profile for free!</a></li>
</ul>
<p><strong>Have fun!</strong><br /><strong>The Zingabeam Team</strong></p>
