<%= title "Supporting New Zealand Charities"%>
<p>An important part of Be Amazing’s commitment and philosophy is giving back to the community, so we're donating $10 to charity whenever a new member joins our directory or renews their membership.</p>
<p>We are supporting Heart Children New Zealand, Hospice New Zealand and Te Araroa – ‘The Long Pathway’ in the wonderful work they are doing to help New Zealanders. You can find out more about their work below.</p>
<h3>Hospice New Zealand</h3>
<p>Hospice is not a building; it is a philosophy of care for people who are dying. The goal is to help people make the most of their lives. Hospice cares for the whole person, not just their physical needs but also their emotional, spiritual, and social needs too. They also care for families and friends as well, both before and after a death. Irrespective of where a person may be, this philosophy of care does not change and everything they provide is free of charge.</p>
<p>Hospice care should be available to anyone who needs it, helping people make the most of every moment, in whatever way works for them to find out more please visit their website: <%= link_to "www.hospice.org.nz", "www.hospice.org.nz"%></p>
<p>&nbsp;</p>
<h3>Heart Children New Zealand</h3>
<p>With around twelve babies born every week with a heart defect, congenital heart conditions are the most common serious birth abnormality that requires medical attention for New Zealand children.</p>
<p>Heart Children NZ is the only organisation dedicated to providing care and support to heart kids and their families. From before birth, through surgery, rehabilitation and into the future we understand how important it is to have a strong support network to fall back on.</p>
<p>For more information on the services provided to heart children and their families, or to keep up-to-date with news and events, visit <a href="http://www.heartchildren.org.nz/">www.heartchildren.org.nz</a>.</p>
<p>&nbsp;</p>
<h3>Te Araroa - The Long Pathway</h3>
<p>Te Araroa - The Long Pathway - is a continuous 3,000 km walking track from Cape Reinga to Bluff. </p>
<p>Te Araroa will provide the ultimate 120-day New Zealand through-tramp, but will provide also section tramps lasting anything from a few days to a week or more, and many attractive day- or overnight walks. It is a different kind of trail from the traditional back-country tramping tracks. Te Araroa connects settlements, townships and cities, and is best conceived as a corridor that encourages social and economic transactions en route – for marae stays and other cultural experiences, also food and accommodation. The track corridor will showcase a wide variety of New Zealand experiences - natural, cultural, and historic.</p>
