<%= title "An error has occured"%>
<p>We apologize but this page has encountered an error. We have been notified and will solve this problem shortly. In the meantime, you might want to go back to the <%= link_to "homepage", root_path%>.</p>