<%= title "Disclaimer"%>
<p><%= site_name_for_country_code(@country.country_code).capitalize%> is a creation of good will and hard work to provide <%= @country.name %> with information on a range of health and personal development providers and services. Every care is taken to ensure the information is accurate and true.<br />
  </p>
<p>Please note:<br />
  </p>
<ul>
  <li>Information published on this site is done so in good faith.</li>
  <li>Accuracy of information supplied by advertisers/members and authors is the suppliers’ responsibility.</li>
  <li>It is taken in good faith that all advertisers on the site are professionally trained in the services they offer.</li>
  <li>The owners cannot be held liable for any loss or damage caused from this site either directly or indirectly.</li>
  <li>We do not represent any of the members/advertisers on this site and offer no warrantees for their services.</li>
</ul>