<%= title "Seven strategies to help your business FLY!"%>

<h3>A special business development guide for Coaches</h3>
<div id="join_us_now" class="rounded"><%= link_to "Join us now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol])%></div>
<div class="cleaner"></div>

<p>When you publish your FREE profile on this site, we'll email you this FREE guide to help you grow your coaching business.</p>

<p>What's in the guide...</p>
<ul>
<li>Fine tune your approach to growing your business</li>
<li>Gain pointers when it comes to niching</li>
<li>Building rapport with potential new clients</li>
<li>Being the best Coach possible</li>
<li>Creating a team of heroes to help you build your business</li>
<li>Being smart about your web presence</li>
<li>Collaborative blogging!</li>
</ul>
<p>What next?</p>
<ul>
<li><%= link_to "Sign-up &amp; get your free copy", signup_url(:protocol => APP_CONFIG[:logged_site_protocol])%></li>
<li><%= link_to "Learn more about free membership for Coaches", :controller => "search", :action => "whyjoin"%></li>
</ul>