<%= title "Our goals" %>
<h3>Our Vision - A directory for Kiwis</h3>
<p>&quot;Inspired Kiwis living amazing lives!&quot;<br />
</p>
<h3>Our Vision - A directory for wellbeing and development professionals</h3>
<p>&quot;An active online community of wellbeing and development professionals, reaching more people and making a bigger difference by collaborating and contributing.&quot;<br />
  </p>
<h3>Our Goals</h3>
<ul><li>Assist New Zealanders to find health, wellbeing and personal development professionals, products and services that suit their needs.</li>
<li>Deepen public knowledge of the benefits of health, wellbeing and personal development services.</li>
<li>Support other organisations to make a difference - click to see how we support charities</li>
<li>Help health, wellbeing and personal development professionals make effective use of the Internet to make a bigger difference.</li></ul>
<h3>How this site is different from other directories</h3>
<ul><li>beamazing.co.nz was founded and is run by wellbeing and personal development professionals - click here to meet our team</li>
<li>We are dedicated to New Zealand only</li>
<li>This is a specialised directory, we only cover health, wellbeing and development.</li>
<li>Our business is community driven and focused on contribution - click to see how we support charities</li>
<li>We are far more cost effective than most other forms of advertising</li>
<li>We cover a wide range of health, wellbeing and development services and modalities</li>