<%= title 'Welcome to beamazing.co.nz', :h2 %>
<p>We're an online community of health, wellbeing & development professionals passionate about helping people live AMAZING lives!</p>
<p>Find the right providers and services for you on this site.</p>
<p>Not a member yet? <%= link_to 'Signup', signup_path %>, it's free!</p>
<h3>Articles</h3>
