<%= render :partial => "search/about_nav", :locals => {:selected => "origins" }  %>
<%= title "Our origins"%>
<p>The Web. Problems &amp; Possibilities.<br />
  </p>
<p>&quot;Most of us see the massive potential of the Web to connect us to others. BUT, given the billions of pages and the infinite number of paths users can take as they trawl, finding and being found or finding exactly what you want can be total lottery.&quot;</p>
<p>&quot;For wellbeing professionals, it's possible to put $1000’s into developing a website and you may still struggle to get  reasonable search engine rankings, resulting in few visitors. And then there’s what to put on your site to attract more people to it, PLUS the cost of maintaining it.</p>
<p>&quot;In 2004, as a Chi Kung Instructor and Personal Coach myself, I created a solution that took the headache out of using the internet … one that made being on the web easy, very affordable and one which gets results. I created a website that listed a whole range of wellbeing services and profiled individual practitioners.</p>
<p>&quot;It worked and the site is now a NZ-wide directory with 100’s of listings and 1000’s of visitors. However, it’s more than just a directory, we’ve gone a step further. We now partner our members to make their web presence with us as effective as possible, profiling their expertise and coaching them on building their page.</p>
<p>&quot;The result? Providers get found and users of the site find the right services to meet their needs, And this, quite simply, is our goal&quot;.<br />
  </p>
<p>David Savage, Founder of <%= site_name_for_country_code(@country.country_code)%><br />
  </p>