<%= render :partial => "search/about_nav", :locals => {:selected => "team" }  %>
<%= title "Meet the Team..."%>

<p>BeAmazing - Connecting people with the expertise of Professional Coaches!&nbsp;</p>
<h3>David Savage</h3>
<p><strong>Director &amp; Founder -&nbsp;Leadership Coach, Master NLP Practitioner &amp;&nbsp;Chi Kung Instructor<br /></strong>Be Amazing started as a way of helping Coaches and wellbeing providers use the internet to reach more people ... It's now evolved into a massive hub of expertise, where people can grow their knowledge and connect with Coaches. David's coaching site: <a href="http://www.elevatecoaching.co.nz/">www.elevatecoaching.co.nz</a></p>
<h3>Megan Savage</h3>
<p><strong>Director -&nbsp;Massage Therapist &amp; Parent Coach</strong><br />Megan has a long history in the well-being profession as a sought after massage therapist. Her knowledge is deep and expansive with training in a broad variety of modalities. As a coach she applies not only her understanding of wellness, but also her background as a teacher, helping parents add to their parenting tool box and create life balance.</p>
<h3>Cyrille Bonnet</h3>
<p><strong>Director &amp; Web Guru,&nbsp;</strong><br />Cyrille has an extensive experience in developing Web applications and he brings his passion and dedication to the team. "With BeAmazing, I've strived to create a site that is convenient and simple to use. Above all, I hope that it will make a real difference in people's lives. Here it is, enjoy!"</p>