<%= render :partial => "search/about_nav", :locals => {:selected => "team" }  %>
<%= title "Meet the Team..."%>

<p>beamazing.co.nz could be just another faceless directory .... But what would be amazing about that? No, our team belongs to the wellbeing and development professions too, so we know not only about how the internet can be used as an awesome tool to connect with others, but also about the wellbeing and development needs of Kiwis and providers.</p>
<h3>David Savage</h3>
  <p><strong>beamazing.co.nz CEO &amp; Founder, Professional Coach,<br />
  Chi Kung Instructor &amp; Adventure Dad.<br />
  </strong> As a professional coach, David Savage helps people develop their capability and achieve bigger things, <a href="http://www.elevatecoaching.co.nz">www.elevatecoaching.co.nz</a>. He also has a background in  Chi Kung and Thai Yoga. &quot;beamazing.co.nz is pretty special, it's 'business model' is based on an aspiration to make a bigger difference by helping people - like practitioners - who do just that. Everything we do is win-win, which is why we channel a proportion of each membership sale to our chosen charities. This means, as we grow so does our ability to contribute even more!&quot;<br />
  </p>
<h3>Megan Savage</h3>
  <p><strong>beamazing.co.nz Director &amp; Membership Care,<br />
  Massage Therapist &amp; Parent Coach</strong><br />
  Megan has a long history in the wellbeing profession as a sought after massage therapist. Her knowledge is deep and expansive with training in a broad variety of modalities. As a coach she applies not only her understanding of wellness, but also her background as a teacher, helping parents add to their parenting tool box and create life balance.</p>
<h3>Cyrille Bonnet</h3>
<p><strong>beamazing.co.nz Director &amp; Web Guru,
</strong><br/>
Cyrille has an extensive experience in developing Web applications and he brings his passion and dedication to the team. &quot;With BeAmazing, I've strived to create a site that is convenient and simple to use. Above all, I hope that it will make a real difference in people's lives. Here it is, enjoy!&quot;</p>