<%= title "Terms and conditions for www.beamazing.co.nz and www.zingabeam.com"%>
<p>We've taken a plain english approach to our terms and conditions, if you have any questions, just <%= link_to "contact us", contact_url%>...</p>
<p><strong>Terms and Conditions for everyone using our sites</strong></p>
<ol>
<li>www.beamazing.co.nz and www.zingabeam.com is owned and operated by Be Amazing Ltd, New Zealand</li>
<li>We're not an agent for any of the members on the site and we don't represent them, employ them and we're not employed by them either, we simply provide the site as a facility for them and you</li>
<li>We can't be held responsible for the content of a member's profile (text or graphics), nor can we be held liable in the event of any litigation resulting from members content.</li>
<li>We can't be held responsible for any loss or damage caused by any errors or inaccuracies on the website.</li>
<li>We can't be held responsible for any server downtime, where the directory in full or in part is inaccessible to internet users or members.</li>
<li>We can't be held responsible for 'junk mail' that the Member may receive as a consequence of displaying their email/contact address on the directory - we have put in measures to prevent this though, so let us know if you're getting JUNKED!</li>
</ol>
<p><strong>Terms and Conditions for Members with Profiles on our sites</strong></p>
<ol>
<li><strong>GENERAL</strong>: We reserve the right to decline a member profile for publication and also reserve the right to remove a member at our own discretion.</li>
<li><strong>In agreeing to these terms and conditions, the Member guarantees that he or she is professionally trained in his or her modalities, and operates with professional integrity.</strong></li>
<li>Digitized images, text and code provided by the Member remain the property of the Member.﻿﻿﻿</li>
<li>Although we will take appropriate care of materials provided for the creation of the Member's profile page, we will not be held responsible for the loss of such material however caused.</li>
<li>It is the Members' responsibility to ensure that they are legally entitled to use any trade/association logos/ratings or photographs on their profile</li>
<li>It is the Members' responsibility to provide all editorial content and check spelling and grammar.</li>
<li>It is the Members' responsibility to add, edit and manage their content.</li>
<li>It is the responsibility of the Member to modify changes to their contact details by updating these themselves on the site.</li>
<li><strong>PAID FEATURES</strong>: It is not compulsory to purchase any paid features to have a profile on the site.</li>
<li>Paid features are priced on a per annum basis unless otherwise stated.</li>
<li>Once a paid feature has been paid for, no refund is available.</li>
<li>It's the responsibility of the member to report any malfunction of any paid feature so we can fix it.</li>
<li>If you purchase and paid feature but it doesn't work, contact us using the link top-left, or write to us at Be Amazing Ltd, 40 Woodward Street, Featherston, Wairarapa, New Zealand</li>
<li><strong>ARTICLES</strong>: Copyright for any article remains the property of the article author</li>
<li>A member must own the copyright of all articles they publish on the site, or have permission from the author to publish.</li>
<li>Any legal action taken against a member as a result of a member's article, is the liability of the member publishing that article, and that member indemnifies Be Amazing Ltd from any repercussions of that action.</li>
<li>We have the right to remove links and graphics from any article on the site without permission.</li>
<li>We have the right to retain and display articles indefinitely even if a member cancels their membership</li>
<li>We check published articles for misleading and inappropriate content, and fully reserves the right to reject articles that it deems unsuitable.</li>
<li>Articles must share knowledge and add value to users, marketing articles promoting professional services will be rejected.</li>
<li>We will automatically distribute articles and notifications of offers and new profiles vis it's Social Media networks including Facebook, Twitter and Linked-In.</li>
<li>Member articles will also be published across all of it's sites and articles will be available for the general public to comment against and rate.</li>
<li><strong>SUMMARY</strong>: Be Amazing Ltd is a community driven business and we love members who engage and contribute in the same spirit.</li>
</ol>