<%= title "Terms and conditions"%>
<p><strong>General: Be Amazing Ltd...</strong></p>
<ol>
   <li>does not represent, employ and is not employed by the members on this site</li>
   <li>cannot be held responsible for the content of a member's profile (text or graphics), nor will they be held liable in the event of any litigation resulting from member advertising or content.</li>
   <li>cannot be held responsible for any loss or damage caused by any errors or inaccuracies on the website.</li>
   <li>cannot be held responsible for any server downtime, where the directory in full or in part is inaccessible to internet users or members.</li>
   <li>cannot be held responsible for 'junk mail' that the Member may receive as a consequence of displaying their email/contact address on the directory.</li>
   <li>reserves the right to decline a member profile for publication and also reserves the right to remove a member regardless of the terms and conditions of any order.</li>
   <li>Digitized images, text and code provided by the Member remain the property of the Member.</li>
   <li>Although we will take appropriate care of materials provided for the creation of the Member's profile page, Be Amazing Ltd will not be held responsible for the loss of such material however caused.</li>
   <li>It is the Member's responsibility to ensure that they are legally entitled to use any trade/association logos/ratings or photographs on their profile</li>
  <li>It is the Member's responsibility to provide all editorial content and check spelling and grammar.
  <li>It is the Members responsibility to add, edit and manage their content.</li>
  <li>In agreeing to these terms and conditions, the Member guarantees that he or she is professionally trained in his or her modalities, and operates with professional integrity.</li>
  <li>It is the responsibility of the Member to modify changes to their contact details by updating these themselves on the site.</li>
  <li>In summary, Be Amazing is a community driven directory and we love members who engage and contribute in the same spirit!</li>
</ol>
<p><strong>Paid Features</strong></p>
<ol>
   <li>It is not compulsory to purchase any paid features to have a profile on the site.</li>
   <li>Paid features are priced on a per annum basis unless otherwise stated.</li>
   <li>Once a paid feature has been paid for, no refund is available.</li>
   <li>It's the responsibility of the member to report any malfunction of any paid feature so we can fix it.</li>
</ol>

<p><strong>Terms for articles and media content</strong></p>
<ol>
   <li>Copyright for any article remains the property of the article author</li>
   <li>A member must own the copyright of all articles they publish on the site, or have permission from the author to publish.</li>
   <li>Any legal action taken against a member as a result of a member's article, is the liability of the member publishing that article, and that member indemnifies Be Amazing Ltd from any repercussions of that action.</li>
   <li>Be Amazing Ltd has the right to remove links and graphics from any article on the site add without permission.</li>
   <li>Be Amazing has the right to retain and display articles indefinitely even if a member cancels their membership</li>
   <li>Be Amazing Ltd operates a policy of checking published articles for misleading and inappropriate content, and fully reserves the right to reject articles that it deems unsuitable.</li>
   <li>Articles must share knowledge and add value to users, marketing articles promoting professional services will be rejected.</li>
</ol>