<%= title "Terms and conditions"%>
<p><strong>General</strong> </p>
<ol>
  <li>Be Amazing Ltd cannot be held responsible for the content of the Member's advert (text or graphics), nor will they be held liable in the event of any litigation resulting from such advertising or its content.</li>
  <li>Be Amazing Ltd cannot be held responsible for any loss or damage caused by any errors or inaccuracies on a web page.</li>
  <li>Be Amazing Ltd cannot be held responsible for any server downtime, where the directory in full or in part is inaccessible to internet users or members.</li>
  <li>Be Amazing Ltd cannot be held responsible for 'junk mail' that the Member may receive as a consequence of displaying their email/contact address on the directory.</li>
  <li>Be Amazing Ltd reserves the right to decline a member profile for publication and also reserves the right to remove a member regardless of the terms and conditions of any order to the contract.</li>
  <li>Digitized images, text and code provided by the Member remain the property of the Member.</li>
  <li>Although we will take appropriate care of materials provided for the creation of the Member's webpage on Be Amazing Ltd, Be Amazing Ltd will not be held responsible for the loss of such material however caused.</li>
  <li>It is the Member's responsibility to ensure that they are legally entitled to use any trade/association logos/ratings or photographs on their web pages.</li>
  <li>It is the Member's responsibility to provide all editorial content and check spelling and grammar.</li>
  <li>Members will appear on Be Amazing Ltd within 4 days from accepting these terms and conditions and making payment.</li>
  <li>It is the Members responsibility to add, edit and manage their content.</li>
  <li>Renewal of memberships is automatically processed on a quarterly or annual basis, unless otherwise agreed.</li>
  <li>Cancellation of membership before the set membership renewal date is at the members discretion, no refunds will be given.</li>
  <li>In agreeing to these terms and conditions, the Member guarantees that he or she is professionally trained in his or her modalities, and operates with professional integrity.</li>
  <li>It is the responsibility of the Member to notify us of changes to their contact details by updating these themselves on the site.</li>
  <li>A minimum term of twelve months applies to all memberships.</li>
</ol>
<p><strong>Additional Terms for Health Centres (Includes Spas, Salons, Gyms, Retreats, Massage Clinics, Health Stores.)</strong> </p>
<ol>
  <li>Health Centre full page adverts are defined as advertising businesses with two or more wellbeing providers. </li>
  <li>Health Centres and similar memberships are limited to a comprehensive overview of their business, not including profiling individual practitioners operating from the health centre.</li>
</ol>
<p><strong>Additional Terms for Practitioners</strong> </p>
<ol>
  <li>Practitioner full page adverts are defined as adverts promoting the services of an individual practitioners, and not that of a collective of practitioners.</li>
  <li>Whilst the price of a full page advert on Be Amazing Ltd entitles the Member to be listed in up to three modality sections within the practitioner section of the directory, this only applies if the Member genuinely offers services in each of these modalities.</li>
</ol>