<%= title "Why join Be Amazing?"%>
<div class="bam-whyjoin-left bam-whyjoin-number">1</div>
<div class="bam-whyjoin-description"><h3>Year-One 50% discount!</h3>
We know what it's like choosing between marketing options, <em>BUT we think we offer the best web based option</em>, so to trial with minimal $ risk, in year one, we've reduced the full membership fee from $199+gst to $99+gst, giving you a 50% discount. Over this 12-month period how many new clients will you need to recover the $99 cost?</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">2</div>	
<div class="bam-whyjoin-description"><h3>Better &amp; FAIRER web exposure</h3>
The web is a lottery when it comes to finding the services you need, even the best practitioners can get lost in search engine rankings – we are the solution! We get top rankings and create a level-playing field where New Zealanders can view a range of practitioners on ONE site!</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">3</div>
<div class="bam-whyjoin-description"><h3>Your own section</h3>
As a Full Member you'll get your own section on the site, which works just like a mini-website. This is dedicated to you and you can change the content or your listings at will!</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">4</div>
<div class="bam-whyjoin-description"><h3>Sell your Gift Vouchers</h3>
Increase your customer base, create a Gift Voucher to feature in our special Gift Voucher section. This has even proven to lead to overseas business; Kiwis abroad buying gift vouchers for family back home.</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">5</div>
<div class="bam-whyjoin-description"><h3>Run a Special Offer</h3>
Get more buy in, place a special offer on the site (along with your own terms and conditions) that people can download and redeem; change and manage this offer at will.</div>
<div class="cleaner"></div>

<div class="bam-whyjoin-left bam-whyjoin-number">6</div>
	

<div class="bam-whyjoin-description"><h3>Event Calendar (Coming Soon!)</h3>
Place a course, workshop or event  in our events calendar for free and help fill your courses!</div>
<div class="cleaner"></div>

<div class="bam-whyjoin-left bam-whyjoin-number">7</div>
	

<div class="bam-whyjoin-description"><h3>Publish your Articles</h3>
Profile your expertise and publish your articles with us, each one links back to your page on the site giving you additional exposure.</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">8</div>
<div class="bam-whyjoin-description"><h3>Feature in our Newsletter</h3>
Be featured in our newsletter as a new member and reach hundreds of people at once!</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">9</div>
<div class="bam-whyjoin-description"><h3>Get Professional Endorsements</h3>
Dramatically increase your credibility by getting endorsed from  other full-members on the site - endorse their work too!</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-number">10</div>
<div class="bam-whyjoin-description"><h3>Receive Discount</h3>
As a Full-Member, receive discounts on Beamazing.co.nz events in New Zealand.</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-word">Plus</div>
<div class="bam-whyjoin-description">We'll provide you with tips to help you build your content and make the most of your membership.</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-word">And</div>
<div class="bam-whyjoin-description">When you first join we'll promote you as a new member on our home page.</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-word">Also</div>
<div class="bam-whyjoin-description">That's just for starters, we're also constantly looking for new ways to add value and help you grow your business … bottom line, your success on the site is our success!</div>
<div class="cleaner"></div>
<div class="bam-whyjoin-left bam-whyjoin-word">Lastly</div>
<div class="bam-whyjoin-description">When you refer other wellbeing providers to the site, if they sign up as full members, your membership will extend for one month for free, and they'll also get 1 month for free*</div>