<%= title "Trial sessions" %>
<p>Find Trial Sessions from our members in this section. These may include offers such as discounted rates, free sessions or seminars and early bird rates on new courses. To be notified of new Trial Sessions when they're first released subscribe to our newsletter mailing list!</p>
<%= render :partial => "special_offers/index"  %>
