<%= title "Trial sessions" %>
<p>Choosing a Coach who is right for you is an important first step. So many coaches offer a FREE or discounted trial session to give you an experience of being coached and their style of coaching. Click on link below and find the coaches</p>
<%= render :partial => "special_offers/index"  %>
