<%= title "Trial &amp; offers" %>
<p>Many coaches offer a FREE or discounted trial session to give you an experience of being coached in their style of coaching. Other Coaches offer specials on courses or products. Click on a link below to explore.</p>
<%= render :partial => "special_offers/index"  %>
