<p><%=link_to article.title, articles_show_path(article.author.slug, article.slug) %>
<% if is_author?(article)%> (<span class="<%=article.workflow_css_class%>"><%=article.state%></span>)<%end%></p>
<%= white_list article.lead %>
