<%if @subcategories.blank? -%>
  No articles
<% else -%>
<ul class="simple category">
  <% @subcategories.each do |s| -%>
    <li><%=link_to s.name, articles_for_subcategory_url(s.slug, :country_code => params[:country_code])%><span class="users-counter"> <%=h s.published_articles_count%></span></li>
  <% end -%>
  </ul>
<% end -%>
<div class="cleaner"></div>
<br/>
<h3>Most recent articles</h3>
<% @recent_articles.each do |a| -%>
	<%= render :partial => "articles/article", :locals => {:article => a } %>
<%end -%>