<% if params[:only_show_own].blank? -%>
<% only_show_own = @country.default_only_show_own? -%>
<% else -%>
<% only_show_own = (params[:only_show_own] == "true") -%>
<% end -%>

<% if only_show_own -%>
<div>Articles from <%=@country.name%> | <%= link_to "All articles", articles_url(:only_show_own => "false") %></div>
<% else -%>
<div><%= link_to "Articles from #{@country.name}", articles_url(:only_show_own => "true")%> | All articles</div>
<% end -%>
