<%= link_to "<span class='add-button-label'>New article</span>", new_article_url(:selected_tab_id => "articles", :context => "profile"), :class => "add-button"%> <%= link_to "<span class='add-button-label'>New 'how to' article</span>", new_how_to_url(:selected_tab_id => "articles", :context => "profile"), :class => "add-button"%>
<hr/>