<%= title "Articles" %><%= link_to image_tag('rss_icon.png'), articles_url(:format => :rss)%>
<p>Coaches from all over the country have published numerous articles right here; sharing their expertise to help you achieve your goals and shape your life. We think you'll find lots of useful information, practical strategies and a whole heap of inspiration. To keep connected and receive new articles as they're published, either subscribe to our articles RSS feed, or join our newsletter mailing list.</p>
<%= render :partial => "articles/index_with_subcategories"  %>