<div class="floatRight"><%= link_to "See past newsletters", newsletter_index_path%></div>
<%= render :partial => "admin/newsletters/show", :locals => {:newsletter => @newsletter }  %>
<div class="floatRight"><%= link_to "See past newsletters", newsletter_index_path%></div>
