<%= render :partial => "admin/admin_nav", :locals => {:selected => "expert_applications" }  %>
<%= title "Expert applications" %>
<ul class="simple">
<% @expert_applications.each do |a| -%>
        <li class="<%=cycle('odd', 'even')%>"><%= render :partial => "expert_application", :locals => {:expert_application => a }   %></li>
<% end -%>
</ul>