@charset "UTF-8"
div.flash {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

div#flash-notice {
    color: green;
}

div#flash-warning {
    color: orange;
}

div#flash-error {
    color: red;
}

div#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;    
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}