
.publication-date {
    font-size: small;
    font-style: italic;
}
.article-draft {
    color: #06F;
}
.article-published {
    color: green;
}
div#login-left {
    float: left;
    display: block;
    width: 50%;
}
div#login-right {
    float: right;
    display: block;
    text-align: right;
    width: 50%;
}
div#header .column-in {
    padding-bottom: 0;
}
.cleaner {
    clear: both;
}
ul#categories li.selected {
    background-color: #b3c4d4;
}
.users-counter {
    font-style: italic;
    color: gray;
    font-weight: normal;
}

#footer {
    text-align: center;
}
#middle .column-in {
    padding-top: 0;
    margin-top: 0;
}
/* for IE */
#middle .column-in form {
    padding-top: 0;
    margin-top: 0;
}
#middle .column-in form label {
    vertical-align: middle;
}
/* end IE*/

div#left li {
    font-weight: bold;
}
div#left a:hover {
    text-decoration: underline;
    color: red;
}
div#left a {
    text-decoration: none;
}

div#left div.column-in {
    padding: 0;
}
#search {
    background-color: #b3c4d4;
}
#search select, #search label {
    margin: 10px;
}
ul {
    margin: 0;
    padding-left: 0;
}
ul li.odd  {
    background: #b3c4d4;
}
ul li {
    list-style: none;
    padding: 3px;
}
ul#categories li {
    text-align: left;
    margin: 0;
    padding: 10px;
    text-indent: 0;
    background: white;
    list-style-position: inside;
}

#mccont form li {
    list-style: none;
    clear: both;
}

#mccont form label {
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 200px;
}

#mccont form input, #mccont form select, #mccont form textarea {
    display: block;
    float: left;
    margin-bottom: 5px;
}

div#login-info {
    font-size: small;
    color: white;
    text-align: left;
    background-color: #06F;
    padding: 3px;
    height: 1.5em;
}

div#login-info a {
    color: white;
}
.mandatoryStar {
    color: red;
    float: left;
}

.nube1 {font-size: 1.0em;}
.nube2 {font-size: 1.2em;}
.nube3 {font-size: 1.4em;}
.nube4 {font-size: 1.6em;}
.nube5 {font-size: 1.8em;}
.nube6 {font-size: 2.0em;}

body {
    margin:0; padding:0;
}

#header {
    margin:0; padding:0;
}

#main1 {
    margin:0; padding:0;
    background:white top left repeat-y;
}
#main2 {
    margin:0; padding:0;
    background:white top right repeat-y;
}
#left {
    float:left;
    width:150px;
    margin:0; padding:0;
    background:green top right no-repeat;
}
#right {
    float:right;
    width:150px;
    margin:0; padding:0;
    background:yellow top right no-repeat;
}
#middle {
    margin:0 150px;
    background:white;
}
.column-in {
    margin:0;
    padding:0.5em 1em;
}
.cleaner {
    clear:both;
    height:1px;
    font-size:1px;
    border:none;
    margin:0; padding:0;
    background:transparent;
}

h1,h2,h3,h4 { margin: 0.2em 0 }
p { margin: 0.5em 0 }
a { color:black }

.copy { text-align:center; font-size:80% }

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:80%;

}