form li {
    list-style: none;
    clear: both;
}

form label {
    display: block;
    float: left;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    display: block;
    float: right;
    margin-bottom: 5px;
}

div#login-info {
    font-size: small;
    text-align: right;
}

.mandatoryStar {
    color: red;
    float: left;
}

.nube1 {font-size: 1.0em;}
.nube2 {font-size: 1.2em;}
.nube3 {font-size: 1.4em;}
.nube4 {font-size: 1.6em;}
.nube5 {font-size: 1.8em;}
.nube6 {font-size: 2.0em;}

body {
    margin:0; padding:0;
}

#header {
    margin:0; padding:0;
    background:red;
}

#main1 {
    margin:0; padding:0;
    background:blue top left repeat-y;
}
#main2 {
    margin:0; padding:0;
    background:blue top right repeat-y;
}
#left {
    float:left;
    width:150px;
    margin:0; padding:0;
    background:green top right no-repeat;
}
#right {
    float:right;
    width:150px;
    margin:0; padding:0;
    background:yellow top right no-repeat;
}
#middle {
    margin:0 150px;
    background:white;
}
.column-in {
    margin:0; padding:0.5em 1em;
}
.cleaner {
    clear:both;
    height:1px;
    font-size:1px;
    border:none;
    margin:0; padding:0;
    background:transparent;
}

h1,h2,h3,h4 { margin: 0.2em 0 }
p { margin: 0.5em 0 }
a { color:black }

.copy { text-align:center; font-size:80% }

