#bam-search-results {
    float: left;
    padding: 3px;
    width: 50%;
}

#bam-search-map {
    float: left;
}

.bam-whyjoin-left {
	padding-top: 1em;
	font-weight: bold;
	float: left;
	display: block;
	vertical-align: middle;
	width: 70px;
}
.bam-whyjoin-number {
	font-size: x-large;
}
.bam-whyjoin-word {
	font-size: medium;
}
.bam-whyjoin-description {
	float: left;
	display: block;
	width: 60%;
	padding-bottom: 1em;
}

#contentMain form li {
    list-style: none;
    clear: both;
}

#contentMain fieldset {
    margin: 3px;
    padding: 0;
	border: 1px solid grey;
}

#contentMain #profile-tab-content  fieldset {
    margin: 0;
    padding: 0;
	border: 1px;
}
#contentMain #profile-tab-content form label, #contentMain #profile-tab-content form div.left-input {
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 120px;
}
#contentMain form label, #contentMain form div.left-input {
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 200px;
}
#contentMain form div.left-input input {
    text-align: right;
    display: inline;
    float: none;
}
#contentMain form input, #contentMain form select, #contentMain form textarea, #contentMain form div.right-label {
    display: block;
    float: left;
    margin-bottom: 5px;
    text-align: left;
}
#contentMain form div.right-label label {
    text-align: left;
}
table#payments{
    border: black solid;
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #333;
}

table#payments th, table#payments td{
    padding: 0.5em;
    border: 1px dotted #666;
}

table#payments tr.odd  {
    background: #b3c4d4;
}

em.money{
    font-weight: bold;
}
#payment-processor{
    text-align: center;
    font-size: x-small;
}

#payment-processor img{
    border: 0;
}

.mandatoryStar {
    color: red;
}
.fieldWithErrors {
    display: inline;
}
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors label {
    background-color: #ffdfdf;
}