a.enquire-button {background:url(../images/btnRed.gif) no-repeat; height:30px; line-height:29px; text-align:center; width:124px;}
.footnote {font-size: smaller; color: #555555;border-bottom:2px solid grey;}
.column div#ads img{margin: 10px 0 0 5px;}
p.highlight{font-size: 14px; font-weight: bold; color: black;}
#contentMain #admin-subcats form input{float: none;}
#contentMain ul#admin-subcats {margin: 0;}
#admin-subcats li{list-style: none;}
#admin-subcats li.odd  {background: #b3c4d4;}
.column #sidebar-related-content h4, #sidebar-related-content {margin: 8px;}
#sidebar-related-content {padding: 0 0 0 0; margin: 0 0 0 0;}
#sidebar-related-content h4 {padding: 0 0 0 0;}
#sidebar-related-content li {list-style: none; padding-bottom: 4px;}
ul.category li {width: 40%; float: left;}
p#number-users a {text-decoration: none;}
p#number-users a:hover {text-decoration: underline;}
ul#search-results .user-description h3, ul.subcategories .user-description h3 {color: #555555;} 
ul#search-results .user-description h3 a, ul.subcategories .user-description h3 a {color: #555555; text-decoration: none; font-size: 18px;} 
ul#search-results .user-description h3 a:hover, ul.subcategories .user-description h3 a:hover {text-decoration: underline;} 
ul#search-results .user-highlighted h3, ul.subcategories .user-highlighted h3 {color: #20ACCD;} 
ul#search-results .user-highlighted h3 a, ul.subcategories .user-highlighted h3 a {color: #20ACCD; text-decoration: none; font-size: 18px;} 
ul#search-results .user-highlighted h3 a:hover, ul.subcategories .user-highlighted h3 a:hover {text-decoration: underline;} 
ul#search-results li, ul.subcategories li{padding-bottom:10px; overflow:hidden;}
ul#search-results li .user-description, ul.subcategories li .user-description {margin: 0 0 5px 0; padding: 0 0 9px 9px;}
p#number-users{color:#20ACCD;}
p#number-users em{font-weight: bold;}
blockquote.quote{font-weight: bold; font-size: 12px; background-color: lightgrey; border: 1px solid grey; text-align: center; padding: 5px;}
#contentMain .user-highlighted h3, #contentMain .user-highlighted h3 a, #contentMain .user-highlighted p {font-weight: bold;}
#contentMain #bam-meet-expert .user-highlighted {border: none; background-color: transparent;}
#contentMain .user-highlighted {margin: 3px; background-color: #FEFDE3;}
#contentMain ol#add-features-list li.help {margin-bottom: 15px;}
#contentMain ol#add-features-list {margin: 0;padding: 0;}
#contentMain form label.wide-label {width: auto;}
#contentMain form .help {font-size: smaller; margin-bottom: 5px;}
#contentMain form textarea.hidden-text-area {display: none;}
#contentMain #profile-tab-content form label.hidden-label {display: none;}
#contentMain form input.hidden-input {display: none;}
#profile-tabs-nav {margin-top:40px;}
#profile-tabs-nav .important {font-size: large;}
.stuff-actions, .stuff-actions a {font-size: x-small; color: grey;}
.user-big-menu {font-weight: bold; font-size: medium;}
#networks h4{padding: 0 0 0 0;}
.column #networks h4, #networks #network-images{margin: 8px;}
#share{margin: 8px;}
#contentMain ul.simple{margin: 0 0 0 0;}
h4.article-title{padding:8px 0 0 0;}
.article-subcategories{font-size:10px;}
#meet-author{font-size:12px;}
.heading-title, .heading-photo{float:left;}
.heading-title {width: 85%;}
.heading-photo{padding:5px;}
.publication-author{font-size:12px;}
#direct-debit-code{font-weight: bold;color:black;}
#contentMain .register-actions input.button {background: url(../images/inputBg.png) repeat-x; float:right;font-weight:bold;height:30px;padding:0 10px;border-color:#CCCCCC #999999 #999999 #CCCCCC;border-style:double;color:#333333;cursor:pointer;font-size:11px;margin-right:2px;overflow:visible;width:auto;}
#contentMain .register-actions input.submit:hover {background:#090; }
#contentMain .register-actions a.anchor-button {float:right;text-decoration: none; background: url(../images/inputBg.png) repeat-x; float:right;font-weight:bold;height:26px;padding:0 10px;border-color:#CCCCCC #999999 #999999 #CCCCCC;border-style:double;border-width:2px; color:#333333;cursor:pointer;display:block; font-size:11px; line-height:30px;margin-right:2px;overflow:visible;width:auto;}
#contentMain .register-actions input.cancel:hover, #contentMain .register-actions a.cancel:hover{background:#CC0000;color:#fff;}
#articles-homepage h3{color:black;}
#articles-homepage h4, h4.article-title {color:#20ACCD;}
#articles-homepage h4 a, h4.article-title a {color:#20ACCD;}
h2.bonus-offer{color:red;}
p.bonus-offer em{font-weight: bold;}
#bam-meet-expert { background:#f3f8f9 url(../images/boxBtmBg.gif) repeat-y; border-bottom:solid 2px grey; overflow:hidden; margin: 0 0 5px 0; padding: 0 0 5px 0;}
#bam-meet-expert h3#resident-title { background:#f3f8f9 url(../images/boxBgTop.gif) no-repeat; color:#333; border:none; font-size:16px; font-weight:normal; height:33px; line-height:35px; margin:0; padding:0 9px; }
#bam-meet-expert .user-description{padding: 0 0 0 9px; border-bottom: none;}
#bam-meet-expert div.user-description h4.resident_expert {background:#FFD700;color:black;float:right;font-size:12px;padding:0 15px;}
#bam-meet-expert .user-description h3 {color: #20ACCD;}
#contentMain ul#search-results, #contentMain ul#contact-details{
	margin:0;
}
#link-full-profile-content{background:url(../images/btnRed.gif) no-repeat; padding-right: 10px;height:30px;float:left; line-height:29px; text-align:center; width:124px;}
#link-profile-coming-soon-content {color:#ccc;background:url(../images/btnRed.gif) no-repeat; padding-right: 10px; height:30px;float:left; line-height:29px; text-align:center; width:124px;}
#link-full-profile-content:hover, #link-profile-coming-soon-content:hover {color:#ccc;}
.workflow-draft {
	font-style: italic;
    color: #c00;
}

div.user-photo {
	float: left;
	width: 55px;
}
div.bam-user-details-icons {
	float: left;
	width: 100%;
}
 div.bam-user-details {
	float: left;
	width: 80%;
}
#bam-warning-profile-draft {
	float: left;
	color: red;
	font-size: 13px;
	vertical-align: middle;
}
div.user-description h4.title-user-paying {
	font-weight: bold;
}
#bam-search-results {
    padding: 3px;
    width: 100%;
}

.bam-whyjoin-left {
	padding-top: 1em;
	font-weight: bold;
	float: left;
	display: block;
	vertical-align: middle;
	width: 70px;
}
.bam-whyjoin-number {
	font-size: x-large;
}
.bam-whyjoin-word {
	font-size: medium;
}
.bam-whyjoin-description {
	float: left;
	display: block;
	width: 60%;
	padding-bottom: 1em;
}

#contentMain form li {
    list-style: none;
    clear: both;
}

#contentMain fieldset {
    margin: 3px;
    padding: 0;
	border: 1px solid grey;
}

#contentMain #profile-tab-content  fieldset {
    margin: 0;
    padding: 0;
	border: 1px;
}
#contentMain #profile-tab-content form label, #contentMain #profile-tab-content form div.left-input {
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 120px;
}
#contentMain form label, #contentMain form div.left-input {
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 200px;
}
#contentMain form div.left-input input {
    text-align: right;
    display: inline;
    float: none;
}
#contentMain form input, #contentMain form select, #contentMain form textarea, #contentMain form div.right-label {
    display: block;
    float: left;
    margin-bottom: 5px;
    text-align: left;
}
#contentMain form div.right-label label {
    text-align: left;
}
table.admin{
    border: black solid;
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #333;
}

table.admin th, table.admin td{
    padding: 0.5em;
    border: 1px dotted #666;
}

table.admin tr.odd  {
    background: #b3c4d4;
}

em.money{
    font-weight: bold;
}
#payment-processor{
	clear: both;
    text-align: center;
    font-size: x-small;
}

#payment-processor img{
    border: 0;
}

.mandatoryStar {
    color: red;
}
.fieldWithErrors {
    display: inline;
}
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors label {
    background-color: #ffdfdf;
}