.noprint { display:none !important; }
#Footer, #Nav { display:none !important; }
body { font-family:normal Tahoma, Verdana, sans-serif; font-size:10pt; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:normal; line-height:normal; }
a { text-decoration:none; }
img { border:0 none; }
h1 { font-family:Tahoma, Verdana, sans-serif; font-size:18pt; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:bold; line-height:normal; text-align:left; }
h2 { font-family:Tahoma, Verdana, sans-serif; font-size:18pt; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:normal; line-height:normal; margin:0; }
h2 a { color:#000000; }
h3 { font-family:Tahoma; font-size:14pt; font-weight:400; }
h4 { font-family:Tahoma; font-size:13pt; font-weight:400; }
