<% javascript 'add-features'%>
<h3>Go premium and make more of Be Amazing!</h3>
<p>Make more of your membership on Be Amazing and add features to stand out and reach more people. These features will enhance your membership and give you a wider range of options to market yourself online headache free!</p>
<% form_for @order do |o| -%>
	<ol id="add-features-list">
		<li>
			<%= o.radio_button :package, "premium", :checked => true%><%= o.label :package_premium, "Premium"%><p class="intro-offer">photo + bold &amp;</p><p class="main-offer">Incentives<br/>$69+gst p.a.</p><p class="conclusion-offer">promote gift vouchers &amp; trial sessions</p>
		</li>
	</ol>
<div class="clear"></div>
<p class="emphasize">With online promotion as cheap as this, your biggest dilemma is to decide how you'll spend the rest of you're marketing budget!</p>
<p class="register-actions register-actions-active">
	<%= submit_tag 'Proceed to pay >', :name => "save", :class => "button submit"  %>
	<%= link_to 'No thanks, continue', expanded_user_url(current_user), :class => "anchor-button cancel"  %>
</p>
<% end -%>
<h3>Premium</h3>
<p>Give people more incentives to get in touch with a complete a online marketing service without the headache!</p>
<ul>
	<li>Your photo on your profile</li>
	<li>Your photo with any articles you add</li>
	<li>Be seen in the 'Featured' box across the site</li>
	<li>Higher visibility in search results</li>
	<li>Be placed above profiles without a photo in search results</li>
	<li>Sell Gift Vouchers</li>
	<li>Promote Trial Sessions</li>
	<li>$69+gst per year</li>
</ul>