<% if !subcategory.nil? && subcategory.resident_expert.nil? -%>
<p>Are you an expert in <%= subcategory.name%>? <%= link_to "Apply to become a resident expert", signup_path(:professional => "true", :mt => "resident_expert", :subcategory_id => subcategory.id  )%> (<%= link_to "tell me more", more_about_resident_expert_path%>)</p>
<% end -%>
