<% if !subcategory.nil? && is_full_member? && subcategory.resident_expert.nil? -%>
<p>Are you an expert in <%= subcategory.name%>? <%= link_to "Apply to become a resident expert", signup_path(:professional => "true", :mt => "resident_expert", :subcategory_id => subcategory.id  )%></p>
<% end -%>
