<h2 class="bonus-offer">Bonus Offer!</h2>
<p class="bonus-offer">To celebrate the launch of our new site, if you join as a Full Member and pay before the <em>7th of August 2009</em>, we'll extend your membership by two months, giving you not only a 50% discount for your first year with us, but also <em>14 months</em> instead of 12.</p>