<% if current_user.has_paid_features? -%>
<p>You have paid for <strong>premium membership</strong> until <%= current_user.paid_photo_until %></p>
<h3>Extend for another year (until <%= @order.expires_on%>)</h3>
<% end -%>