<div class="signup_nav<%if selected=='essential'%> signup_nav_selected"<%end%>">Step 1: Essential information</div><div class="signup_nav<%if selected=='optional'%> signup_nav_selected"<%end%>">Step 2: Optional information</div><div class="signup_nav<%if selected=='select_features'%> signup_nav_selected"<%end%>">Step 3: Select Features</div>
<div class="cleaner"></div>