<div class="signup_nav<%if selected=='essential'%> signup_nav_selected<%end%>">Step 1: Essential information</div><div class="signup_nav<%if selected=='optional'%> signup_nav_selected"<%end%>">Step 2: Optional information</div><% unless @package == "free"%><div class="signup_nav<%if selected=='payment'%> signup_nav_selected"<%end%>">Step 3: Payment</div><%end%>
<div class="cleaner"></div>