<%= render :partial => "users/user_nav", :locals => {:selected => "home" }  %>

<%= title "How to run a successful Special Offer"%>
<p>Entice your future clients with something that will want them to say "YES" on the spot!</p> <p>Special Offers are a great way to draw people's attention. We wouldn&rsquo;t recommend doing it all the time as it will lessen the value of your products, but publicise something every couple of months.</p> <p>You could also make it relevant to the seasons or what&rsquo;s happening in the news. Remember to write how they can take advantage of your fantastic offer and when it expires, this will entice them to take action!</p> <p><strong>Other tips:</strong></p> <ul> <li>Run short time-frames</li> <li>Be creative</li> <li>Give clear terms and conditions</li> <li>Add value instead of discounting</li> <li>Collaborate with other providers</li> </ul> 
