<%= render :partial => "users/user_nav", :locals => {:selected => "home" }  %>

<%= title "Tips for choosing a profile photo"%>
<p>First impressions count! - At a neural level, we make a judgement of someone within a 20th of a second - so get a good picture taken, be yourself, professional and SMILE!</p> <p>Avoid moochee James Dean looks too ... We recommend getting a clear shoulder and head shot portrait style so that Kiwis can see who you are no matter where they come across your photo on the site, i.e. through the main directory when they do a search or when they click on your profile.</p> <p>Ask a friend of colleague which shot they would choose and get some honest feedback. Get it right and your photo will be an asset on your profile!</p>