<div id="join_title"><%= title "FREE profile for amazing Coaches!"%></div>
<div class="clear"></div>
<p>Zingabeam is a proven way for Coaches to connect with new clients and publish articles MINUS the headache of getting people to your site to read them!</p>
<p><div id="join_us_now" class="rounded"><%= link_to "Sign up now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol])%></div><div class="cleaner"></div></p>
<h3>Not sure? OK .... SIX big reasons for coaches to add their profile....</h3>
<p>Too many coaches are having their time wasted navigating the do's and don'ts of online marketing.&nbsp;<%= link_to "www.zingabeam.com", "www.zingabeam.com" %>&nbsp;is a solution for Coaches by Coaches.</p>
<h4>Reason #1: Get a return, quickly!</h4>
<p>The last time I took out a small advert in a newspaper, it cost me over $300 and lasted just a week - it did nothing for my business!</p>
<p>And so, for FREE you can get your profile in our directory giving you a new dilemma:&nbsp;<strong>How will you now spend your marketing budget?</strong></p>
<p>Plus, by also adding articles for FREE, you'll get a return on your time and effort by way of new visits to your own site!&nbsp;</p>
<h4>Reason #2: Three times as much visibility</h4>
<p>We know from our own statistics that on average&nbsp;Coaches&nbsp;with articles and a profile photo get at least three times as many profile viewings than other members.</p>
<p>So remember:</p>
<ul>
<li>Add a photo to your profile</li>
<li>Add articles, you'll feature on the home page as a featured author</li>
<li>With enough articles, we'll promote you as a Resident Expert in your field and we'll also list you in search results HIGHER than other coaches</li>
</ul>
<h4>Reason #3: Become a Resident Expert</h4>
<p>You've already noticed, this is no ordinary directory! We SERIOUSLY want to help you showcase your expertise and grow your business, and so the site operates as blog where you can publish as many articles as you like for FREE.</p>
<p>The more articles you contribute, the more the site works to promote you as a Resident Expert.</p>
<ul>
<li>Top three article contributors under each section gets listed as a Resident Expert in corresponding sections</li>
<li>Resident Experts get feature on rotation in the left column on EVERY PAGE</li>
<li>Resident Experts get listed above other member in search results</li>
</ul>
<h4>Reason #4: Tap into an instant audience of thousands</h4>
<p><strong>Building your own website is one thing, getting people to it is another!</strong></p>
<p>It can be a lonely place the internet, but as soon as you have a profile with us, you're immediately exposed to thousands and thousands of visitors and THEY can find YOU easily!</p>
<p>PHEW, no more dilemmas on how to be seen on the net!</p>
<h4>Reason #5: Side-step the marketing headache</h4>
<p>Stop thinking about all of these things .... we do the thinking for you</p>
<ul>
<li>How to get visibility with search engines - we've cracked that one!</li>
<li>How to drive traffic to your own site - we do this from your profile</li>
<li>What to write about yourself - our profile template gives you headers to work with</li>
<li>How to get your articles seen - your articles on our site work harder for you</li>
</ul>
<h4>Reason #6: Social Media .... we do this for you too!</h4>
<p>We will...</p>
<ul>
<li>Tweet every article you publish on the site AND repeat tweet it periodically</li>
<li>Promote you via Twitter to a 4000+ strong network of followers</li>
<li>Beam you over Facebook to our followers and their friends</li>
<li>Promote the best of your articles across a large variety of Linked-in groups</li>
</ul>
<p>And so the bottom-line is pretty simple ... we give you a FREE platform that&nbsp;<strong>AUTOMATES</strong>&nbsp;your online marketing,&nbsp;<strong>LIBERATES</strong>&nbsp;your time and&nbsp;<strong>REMOVES</strong>&nbsp;the headache of building your business using the internet.</p>
<div id="join_us_now" class="rounded"><%= link_to "Sign up now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol])%></div>
