<% javascript 'new-user' %>
<%= title membership_description(@mt)  %>
<% if @mt == "resident_expert" -%>
  <p class="important">If you already have an account with BeAmazing, please <%= link_to "login", new_session_path(:return_to => new_expert_application_path) %>.</p>
<%end -%>
<% form_for @user do |f| %>
    <%= render :partial => "form", :locals => {:f => f, :sign_up => true, :mt => @mt  }   %>
<% end %>