<%= render :partial => "users/full_member_nav"  %>
<%= title "Your articles", :h2  %>
<% if @articles.empty? -%>
  No articles
<% else -%>
  <% @articles.each do |a| -%>
    <h3><%= link_to a.title, edit_article_path(a) %><h3>
      <p><%= a.introduction%></p>
  <% end -%>
<%end -%>