<%= title "Congratulations, you are now a member of Be Amazing!"%>
<p>It's great to have you as part of Be Amazing, this site is all about helping New Zealanders find services like yours to improve their health, well-being and development. WE help YOU to help THEM, so please help US too, by letting your colleagues and professional networks know about us - THANK YOU!<br/>
<br/>
What now?<br/>
<br/>
<%= link_to "Complete your profile", expanded_user_url(current_user)%><br/>
<br/>
OR<br/>
<br/>
<%= link_to "Add extra features to enhance your profile:", user_promote_url%></p>
<ul>
<li>Add your photo to your profile</li>
<li>GO BOLD and stand out in search listings</li>
<li>Run a Special Offer</li>
<li>Add a Gift Voucher</li>
</ul>