<span class="why-join-title">6 ways</span> beamazing.co.nz will help you reach more people and grow your business with a full membership for just $99 in your first year!

<ol id="why-join">
<li><span class="why-join-title">Your own Mini-Website</span>:
Every member gets their own full page on the site which looks and works just like a mini-website.</li>

<li><span class="why-join-title">Sell your Gift Vouchers</span>:
Create a Gift Voucher & list it on our special Gift Voucher section (Worth $49 sold separately)</li>

<li><span class="why-join-title">Run a Special Offer</span>:
Place a special offer on the site for one of your services that people can download (Worth $49 sold separately)</li>

<li><span class="why-join-title">Event Calendar</span>:
If you run courses, workshops or an event that you want to promote, place it in our events calendar for free! (Worth $49 sold separately)</li>

<li><span class="why-join-title">Publish your Articles</span>:
Profile your expertise and publish your articles on beamazing.co.nz each on linked back to your page on the site</li>

<li><span class="why-join-title">Feature in our Newsletter</span>:
You can also submit your article to go into our newsletter that goes out to 100’s of subscribers!

plus When you first join we’ll promote you as a new member on our home page and in the ‘new members’ box on every page.

and That’s just for starters, we’re also constantly looking for new ways to add value and help you grow your business … bottom line, your success on the site means you’ll stay with us – and that’s a win-win!

also When you refer other wellbeing providers to the site, if they sign up as full members, your membership will extend for one month for free, and they will also get one month for free.</li>
</ol>