<div id="blog_categories_links">
Search blog categories:
<% @all_blog_categories.each_with_index do |c, index|-%>
	<% if c.slug == selected -%>
	<%= c.name %>
	<% else -%>
	<%= link_to c.name, articles_blog_category_url(c.slug, :country_code => params[:country_code])%><% end -%><% unless index == @all_blog_categories.size-1%> | <%end%>
<% end -%>
</div>