<%= title "Your FREE tool has been sent to you"%>

<p>Thank you for subscribing to our newsletter.</p>
<p>You may now want to:</p>
<ul>
	<li>Stay informed of new articles: <%= link_to "subscribe to our articles' RSS feed", "http://feeds.feedburner.com/BeAmazing" %></li>
	<li>Discover <%= link_to "our listing of coaches", full_members_url%></li>
	<li>Go <%= link_to "back to the homepage", root_url%></li>
</ul>