<% if own_profile?(@user) -%>
<p><%= link_to "Create a new gift voucher", new_gift_voucher_path %></p>
<% end -%>
<% if @gift_vouchers.blank? -%>
  No gift vouchers
<%else -%>
  <ul id="your-gift-vouchers" class="simple">
  <% for gift_voucher in @gift_vouchers %>
    <%= render :partial => "gift_vouchers/gift_voucher",  :locals => {:gift_voucher => gift_voucher}   %>
  <% end %>
  </ul>
<% end -%>
