<%= title "Gift vouchers" %>
<% if @subcategories.blank? -%>
  No gift vouchers
<%else -%>
  <ul class="simple category">
  <% for s in @subcategories -%>
    <li><%=link_to s.name, gift_vouchers_for_subcategory_url(s.slug)%><span class="users-counter"> <%=h s.published_gift_vouchers_count%></span></li>
  <% end -%>
  </ul>
<% end -%>
