<%= title "Gift vouchers" %>
<p>Want a gift with a real difference? Then browse the Gift Vouchers our members have listed right here! And, to be notified of new Gift Vouchers when they're first released subscribe to our newsletter mailing list.</p>
<% if @subcategories.blank? -%>
  No gift vouchers
<%else -%>
  <ul class="simple category">
  <% for s in @subcategories -%>
	<% unless s.published_gift_vouchers_count(@country) == 0 -%>
    <li><%=link_to s.name, gift_vouchers_for_subcategory_url(s.slug)%><span class="users-counter"> <%=h s.published_gift_vouchers_count(@country)%></span></li>
    <% end -%>
  <% end -%>
  </ul>
<% end -%>
