<%= title @title %>
<% form_for @mass_email do |f| %>
  <% unless @possible_recipients.size == 1 -%>
  <ul>
          <li>
          <%= f.select :recipients, @possible_recipients %>
          </li>
<% end -%>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag 'Send now', :name => "send" %>
      </div>
</ul>
<% end %>
