<%= title "Send email" %>
<% form_for @mass_email do |f| %>
  <ul>
        <% @possible_recipients.each do |k, v| -%>
          <li>
          <%= f.label "recipients_#{k}".to_sym, v %>
          <%= f.check_box "recipients_#{k}".to_sym %>
          </li>
        <% end -%>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag 'Send', :name => "send" %>
      </div>
</ul>
<% end %>
