<%= title "Send email" %>
<% form_for @mass_email do |f| %>
  <ol>
      <li>
        <%= f.label :recipients, "Who do you want to send this email to?" %>
        <%= f.select :recipients, @possible_recipients, {:prompt => "- Please select -"} %>
      </li>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag 'Send' %>
      </div>
</ol>
<% end %>
