<% use_tinymce -%>
<% form_for @selected_tab, :url => action_tab_with_id_path(@selected_tab.slug, :action => "update" )  do |f| -%>
  <%= f.error_messages %>
    <ol>
      <li>
        <%= f.label :content, 'Content:' %>
        <%= f.text_area :content, :cols => "35" %>
      </li>
    </ol>
  <div class="buttons">
    <label for=""></label>
    <%= submit_tag 'Update' %>
  </div>
<% end -%>