<p><%=link_to how_to.title, how_tos_show_path(how_to.author.slug, how_to.slug) %>
<% if is_author?(how_to)%> (<span class="<%=how_to.workflow_css_class%>"><%=how_to.state%></span>)<%end%></p>
<p><%=h how_to.summary %></p>
