<%= render :partial => "users/user_nav", :locals => {:selected => ""}  %>
<%= title "Thank you", :h2  %>
<p>Thank you for your payment</p>
<p>We've sent you an invoice. If you need to review your payment's details, please go to <%= link_to "your payments", payments_path %></p><br/>