<%= render :partial => "users/user_nav", :locals => {:selected => ""}  %>
<%= title "Thank you", :h2  %>
<p>Thank you for your payment and welcome to BeAmazing!</p>
<p>We've sent you an invoice. If you need to review your payment's details, please go to <%= link_to "your payments", payments_path %></p>
To be listed with us, you only need to:
<ol>
  <li>edit <%= link_to "your profile", expanded_user_path(current_user) %></li>
  <li>once you are happy with your profile, publish it (there is a publish button on the top right of your profile).</li>
</ol>