<% unless @category.nil? -%>
<%= title @category.name, :h2 %>
  <ul class="category">
    <% @category.subcategories.each do |s| -%>
      <li><%=link_to s.name, subcategory_url(dasherize(@category.name), dasherize(s.name))%><span class="users-counter"> <%=s.users_counter%></span></li>
    <% end -%>
  </ul>
<% end -%>